body {
  margin: 0;
  font-family: "Vollkorn", Bold;
}

.iframe-container {
  padding-bottom: 60%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  font-size: 70px;
  color: white;
  bottom: 10%;
  left: 16px;
}
.bottom-left-further {
  position: absolute;
  font-size: 30px;
  color: white;
  bottom: 8%;
  left: 20px;
}

.biobanner {
  margin-left: -5%;
  height: 80%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/polareats-dev.appspot.com/o/WEBSITE%20BIO%20PIC.jpeg?alt=media&token=d2622b0c-60ca-4630-bbeb-6b663cd1dd36");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.contactbanner {
  margin-top: 40px;
  margin-left: -5%;
  height: 80%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/polareats-dev.appspot.com/o/dpeck_1.jpg?alt=media&token=44bfdf5d-635f-4431-b407-66fe8ef9f6ad");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.booth {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fit {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

.abovefold {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.videosection {
  margin: 0%;
  width: 80%;
  height: 100%;
  margin-top: 10%;
  background-color: white;
}

.imghome {
  width: 100%;
  height: 100%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/polareats-dev.appspot.com/o/dpeck_2.jpg?alt=media&token=70b73c00-dea9-4cc5-94c3-58d144657e93");
  background-size: cover;
  background-position-y: 30%;
}

.imghome2 {
  margin: 0%;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  margin-top: 5%;
}

.imghomeTEST {
  margin: 0%;
  width: 50%;
  height: 100%;
  margin-bottom: 0px;
  margin-top: 5%;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0px;
  height: 9.5%;
  width: 100%;
  background-color: white;
  zoom: 110%;
  margin-bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: +1;
}

h1 {
  font-family: "Vollkorn", Bold;
  color: black;
  margin-left: 10px;
}
ol,
ul {
  list-style: none;
}
li {
  float: center;
  display: inline-block;
  padding: 0px 0 0px;
  vertical-align: middle;
}
a:hover,
a:focus,
a:active {
  color: #a8b6bf;
  text-decoration: none;
}
a {
  font-family: "Vollkorn", Bold;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}
a {
  position: relative;
  display: block;
  padding: 10px 0;
  margin: 6 6px;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #000;
}
a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}
a:active::before {
  background-color: #000;
}
a:hover::before,
a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.header {
  display: inline-block;
  width: 260px;
  height: 247px;
  border-radius: 50%;
}

.bio {
  width: 50%;
  text-align: justify;
  margin-bottom: 20%;
  font-family: "Vollkorn", Bold;
}

.headerfold {
  margin: 0;
  margin-top: 0px;
  width: 100%;
  height: 70%;
  zoom: 30%;
  background-image: url("img/web_header3x.png");
}

.video-container {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: -150px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: relative;
  top: 0;
  left: 0;
  width: 65%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  repeat: none;
}

.belowfold {
  margin: 0%;
  width: 100%;
  height: 50%;
  zoom: 50%;
  background-image: url("img/booth.jpg");
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.videos {
  margin-top: 10%;
  float: center;
}

.footer {
  position: fixed;
  float: center;
  left: 0;
  bottom: 0;
  height: 7.5%;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  width: 100%;
}

.native-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
}

.native-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  z-index: -1;
  position: relative;
}

.container a {
  color: black;
}

.container h4 {
  color: black;
}

@media screen and (max-width: 320px) {
  .footer {
    height: 10%;
  }

  .navbar {
    height: 20%;
    zoom: 20%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    height: 10%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    height: 10%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
}

@media screen and (max-width: 736px) {
  .footer {
    height: 4%;
  }

  .navbar {
    height: 6%;
    zoom: 20%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: -70px;
  }
}

@media screen and (max-width: 667px) {
  .footer {
    height: 4%;
  }

  .navbar {
    height: 7%;
    zoom: 40%;
  }

  .abovefold {
    margin-top: 20%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    height: 3.5%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    height: 8%;
  }

  .footer {
    height: 4.5%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
}

@media screen and (max-height: 375px) {
  .footer {
    height: 10%;
  }

  .navbar {
    height: 8%;
    zoom: 20%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
}

@media screen and (max-height: 320px) {
  .footer {
    height: 10%;
  }

  .navbar {
    height: 8%;
    zoom: 20%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
}

@media screen and (max-height: 414px) {
  .footer {
    height: 10%;
  }

  .navbar {
    height: 8%;
    zoom: 20%;
  }

  .native-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
  }
}

.topnav {
  overflow: hidden;
  /* position: fixed; */
  top: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: +1;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 13px;
}

.topnav a:hover {
  background-color: #fff;
  color: black;
}

.topnav a.active {
  background-color: #fff;
  color: #000;
}

.topnav .icon {
  display: none;
}

.topnav .social {
  float: right;
  display: block;
}

.PressReleaseRow {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.PressReleaseColumn {
  flex: 33%;
  padding: 10px;
}

.PressReleaseContainer {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive .social {
    float: right;
    display: block;
  }

  .PressReleaseContainer {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive .social {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
